<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="\project.css" rel="stylesheet" type="text/css">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: bisque;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="shop.html">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              About us
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="my-info">Info</a></li>
              <li><a class="dropdown-item" href="images">Our Team</a></li>
              <li><a class="dropdown-item" href="brands">Brand Partners</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cart</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-but">
            <a class="btn btn-outline-dark" href="signup.html">SignUp</a>
          </li>
          <li class="nav-but">
            <a class="btn btn-outline-dark" href="login.html" style="margin-left: 4px;">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <section class="container-fluid">
    <div id="About">
      <h1><strong>About us</strong></h1>
      <div id="my-info">
        <div class="row">
          <div class="col my-image pt-5">
            <img src="\images\hdspic.jpg" width="250px" height="60%">
          </div>
          <div class="col content">
            <h2>Project Description</h2>
            <p id="description">The project aims to develop a responsive e-commerce website for selling smartphones and accessories. <br>The
              website will allow customers to browse through a wide range of smartphones and accessories,<br>select their
              desired products, and purchase them using a secure online payment system.

              <br>The website will have a user-friendly interface with easy navigation and search options. <br>Customers will be
              able to search for their desired products using different <br>filters such as price range, brand, operating
              system, screen size, camera quality, and other specifications.

              <br>The website will have a separate section for accessories such as phone cases, screen protectors, <br>chargers,
              earphones, and other related items. <br>Customers will also be able to read product descriptions, check
              reviews, and compare different products before making a purchase.</p>
          </div>
        <div class="info col" id="description">
          <h1>We Love What We do</h1>
          <p>
          <h3>Our talented team crafts the best codes</h3>
          </p>
          <p>
          <h3>and design amazing user experience</h3>
          </p>
          <p>
          <h3>for our clients</h3>
          </p>
          </div>
        </div>
        </div>
      </div>
      <div class="row" id="images">
        <h2><strong>Our Team Work</strong></h2>
        <div class="col">
          <img
            src="https://thumbs.dreamstime.com/b/mixed-business-team-working-sitting-table-office-above-view-teamwork-concept-together-one-modern-175854229.jpg"
            width="100%" alt="">
        </div>
        <div class="col">
          <img src="https://images.businessnewsdaily.com/app/uploads/2022/04/04074130/teamwork_g-stockstudio_getty.jpg"
            width="100%" alt="">
        </div>
        <div class="col">
          <img src="https://www.betterup.com/hubfs/Young-team-working-together-in-a-meeting-room.jpg" width="100%"
            alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="row" id="brands">
      <h1>Brand Partners</h1>

      <div class="col " id="brand-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2_Hkwlq5y1pUU0paEdCUD5ak6ftJyjn9P8rp6FEC5gGYITvBlWHRj2EfpkTpsZrmAAbI&usqp=CAU"
          width="80%">

      </div>
    </div>


  </section>